<nav class="navbar navbar-dark bg-primary mb-3">
  <a class="navbar-brand mr-auto" href="#">{{brand}}</a>
  <div class="collapse show">
    <ul class="navbar-nav flex-row" *ngIf="showLinks">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item ml-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item ml-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/todo" class="nav-link">Todos List</a>
      </li>
      <li class="nav-item ml-3">
        <button class="btn btn-danger ml-auto" (click)="onLogout()">Logout</button>
      </li>
    </ul>

  </div>
</nav>


